/* Estilos para o modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fixa a posição no viewport */
    z-index: 1000; /* Coloca o modal acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita rolagem se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo preta */
    background-color: rgba(0,0,0,0.4); /* Fundo com opacidade */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura */
    max-width: 600px; /* Largura máxima */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}